<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

    <aop:aspectj-autoproxy/>
    
<bean name="triangle" class="org.koushik.javabrains.model.Triangle">
    <property name="name" value="Triangle name"/>
</bean>

<bean name="circle" class="org.koushik.javabrains.model.Circle">
   <!--   <property name="name" value="Circle name"/>  -->
</bean>

<bean name="shapeService" class="org.koushik.javabrains.service.ShapeService" autowire="byName"/>

<bean name="loggingAspect" class="org.koushik.javabrains.aspect.LoggingAspect"/>

<aop:config>
    <aop:aspect id="loggingAspect" ref="loggingAspect">
        <aop:pointcut expression="execution(* get*())" id="allGetters"/>
        <aop:around pointcut-ref="allGetters"  method="myAroundAdvice"/>
        <aop:before arg-names="" method=""/>
    </aop:aspect>
</aop:config>
</beans>

